<h4>Welcome. See the latest scores here!</h4>



<div class="bootcards-list">
    <div class="panel panel-default">
        <div class="list-group">
            <div ng-repeat="score in scores | reverse">
                <a class="list-group-item" ng-href="#/score/{{score.$id}}">
                    <div class="row">
                        <div class="col-sm-6">
                            <i class="fa fa-3x fa-building-o pull-left"></i>
                            <h4 class="list-group-item-heading">{{score.user}}</h4>
                            <p class="list-group-item-text">{{score.lat}}, {{score.lon}}</p>
                            <mydate>{{score.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</mydate>
                        </div>
                        <div class="col-sm-6">
                            <p class="list-group-item-text">{{score.books}} books</p>
                            <p class="list-group-item-text">${{score.money}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

