<div class="dashhead">
    <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Dashboards</h6>
        <h3 class="dashhead-title">Overview</h3>
    </div>

    <div class="dashhead-toolbar">
        <div class="input-with-icon dashhead-toolbar-item">
            <input type="text" value="{{date | date: 'MMM dd, yyyy'  }}" class="form-control" data-provide="datepicker">
            <span class="icon icon-calendar"></span>
        </div>
        <span class="dashhead-toolbar-divider hidden-xs"></span>
        <div class="btn-group dashhead-toolbar-item btn-group-thirds">
            <button type="button" class="btn btn-primary-outline" ng-click="updateStatsLength(86400000, '24 hours')">24 Hours</button>
            <button type="button" class="btn btn-primary-outline" ng-click="updateStatsLength(259200000, '3 days')">3 Days</button>
            <button type="button" class="btn btn-primary-outline" ng-click="updateStatsLength(604800000, '1 week')">Week</button>
        </div>
    </div>
</div>

<div class="hr-divider m-t-md m-b">
    <h3 class="hr-divider-content hr-divider-heading">Quick Stats</h3>
</div>

<div class="row statcards">
    <div class="col-sm-4 m-b">
        <div class="statcard statcard-success">
            <div class="p-a">
                <span class="statcard-desc">Lakshmi</span>
                <h2 class="statcard-number">$ {{totalMoney}}</h2>
                <hr class="statcard-hr m-b-0">
            </div>
            <canvas id="sparkline1" width="189" height="47" class="sparkline" data-chart="spark-line" data-value="[{data:[28,68,41,43,96,45,100]}]" data-labels="['a','b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
    </div>
    <div class="col-sm-4 m-b">
        <div class="statcard statcard-danger">
            <div class="p-a">
                <span class="statcard-desc">Books</span>
                <h2 class="statcard-number">{{totalBooks}}</h2>
                <hr class="statcard-hr m-b-0">
            </div>
            <canvas id="sparkline1" width="189" height="47" class="sparkline" data-chart="spark-line" data-value="[{data:[28,68,41,43,96,45,100]}]" data-labels="['a','b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
    </div>
    <div class="col-sm-4 m-b">
        <div class="statcard statcard-info">
            <div class="p-a">
                <span class="statcard-desc">Devotees</span>
                <h2 class="statcard-number">{{devoteeCount}}</h2>
                <hr class="statcard-hr m-b-0">
            </div>
            <canvas id="sparkline1" width="189" height="47" class="sparkline" data-chart="spark-line" data-value="[{data:[28,68,41,43,96,45,100]}]" data-labels="['a','b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
    </div>
</div>

<div class="hr-divider m-t-md m-b">
    <h3 class="hr-divider-content hr-divider-heading">Rankings & Scores</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center"> Latest scores </h4>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" placeholder="Search Scores..." ng-model="search">
            </div>

            <div class="list-group">
                <div dir-paginate="score in scores | reverse | filter: search | itemsPerPage: 15">
                    <a class="list-group-item" ng-href="#/score/{{score.$id}}">
                        <span class="pull-right text-muted">{{score.books}} <span>{{score.books == 1 ? 'book' : 'books'}}</span> | <strong>${{score.money}}</strong>
                        </span>{{score.user}}
                    </a>
                </div>
            </div>
            <div class="panel-footer" style="background:#1ca8dd">
                <div class="text-center">
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center"> Lakshmi Leaders </h4>
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" placeholder="Search Leaders..." ng-model="searchMoney">
                    </div>
                    <div class="list-group">
                        <div ng-repeat="rank in rankings|filter: searchMoney|limitTo:5|orderBy: '-money'">
                            <a class="list-group-item" href="#/user/{{rank.id}}">
                                <span class="pull-right text-muted">${{rank.money}}</span> {{rank.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="bootcards-list">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center"> Map Area Leaders </h4>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="form-control" placeholder="Search Leaders..." ng-model="searchMap">
                        </div>
                        <div class="list-group">
                            <div ng-repeat="rank in rankings|filter: searchMap|limitTo:5|orderBy: '-mapArea'">
                                <a class="list-group-item" href="#/user/{{rank.id}}">
                                    <span class="pull-right text-muted">{{rank.mapArea / 2589988.11 | number: 3}} miles<sup>2</sup></span> {{rank.name}}
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="bootcards-list">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center"> Book Leaders </h4>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="form-control" placeholder="Search Leaders..." ng-model="searchBooks">
                        </div>
                        <div class="list-group">
                            <div ng-repeat="rank in rankings | filter: searchBooks | limitTo:5 | orderBy: '-books'">
                                <a class="list-group-item" ng-href="#/user/{{rank.id}}">
                                    <span class="pull-right text-muted">{{rank.books}} books</span> {{rank.name}}
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!--Rankings: <pre>{{rankings | json}}</pre>Sort results: <pre>{{result | json}}</pre> RankingScores: <pre>{{rankingScores | json}}</pre>-->
<!--Time scores: <pre>{{timescores | json}}</pre> All scores: <pre>{{scores | json}}</pre> -->