<h4>Welcome. See the latest scores here!</h4>

<div class="panel panel-default bootcards-summary">
    <div class="panel-heading">
        <h4 class="panel-title text-center">Statistics</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-default btn-block" ng-click="updateStatsLength(86400000, '24 hours')">24 hours</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-default btn-block" ng-click="updateStatsLength(259200000, '3 days')">3 days</button>
            </div>

            <div class="col-md-4">
                <button class="btn btn-default btn-block" ng-click="updateStatsLength(604800000, '1 week')">1 week</button>
            </div>
        </div>
        <h3>Showing stats for {{statisticTime}}, time length = {{statsTimeLength}}</h3>
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <div class="bootcards-summary-item" href="#">
                    <i class="glyphicon glyphicon-usd my-glyph"></i>
                    <h4>$ {{totalMoney}}</h4>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="bootcards-summary-item" href="#">
                    <i class="glyphicon glyphicon-book my-glyph"></i>
                    <h4>{{totalBooks}} Books</h4>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="bootcards-summary-item" href="#">
                    <i class="glyphicon glyphicon-user my-glyph"></i>
                    <h4>{{devoteeCount}} <span>{{devoteeCount ===1 ? 'Devotee' : 'Devotees'}}</span></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <small>Statistics and rankings will update automatically. You do not need to refresh the page.</small>
    </div>

</div>


<div class="row">
    <div class="col-md-6">
        <div class="bootcards-list">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center"> Latest scores </h4>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search Scores..." ng-model="search">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="list-group">
                    <div dir-paginate="score in scores | reverse | filter: search | itemsPerPage: 15">
                        <a class="list-group-item" ng-href="#/score/{{score.$id}}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="list-group-item-heading">{{score.user}}</h4>
                                    <p class="list-group-item-text">{{score.timestamp | date: 'H:mm a MMM dd, yyyy'}}</p>

                                </div>
                                <div class="col-sm-6">
                                    <h4 class="list-group-item-heading">{{score.books}} <span>{{score.books == 1 ? 'book' : 'books'}}</span></h4>
                                    <h4 class="list-group-item-heading">${{score.money}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <dir-pagination-controls auto-hide="false" boundary-links="true" direction-links="true"></dir-pagination-controls>
                    </div>
                    <small>Click on any of the scores to see details.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="bootcards-list">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center"> Lakshmi Leaders </h4>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Leaders..." ng-model="searchMoney">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="list-group">
                            <div ng-repeat="rank in rankings|filter: searchMoney|limitTo:5|orderBy: '-money'">
                                <a class="list-group-item" href="#/user/{{rank.id}}">
                                    <h4 class="list-group-item-heading">{{rank.name}}</h4>
                                    <p class="list-group-item-text">${{rank.money}}</p>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="bootcards-list">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center"> Map Area Leaders </h4>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Leaders..." ng-model="searchMap">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="list-group">
                            <div ng-repeat="rank in rankings|filter: searchMap|limitTo:5|orderBy: '-mapArea'">
                                <a class="list-group-item" href="#/user/{{rank.id}}">
                                    <h4 class="list-group-item-heading">{{rank.name}}</h4>
                                    <p class="list-group-item-text">{{rank.mapArea / 2589988.11 | number: 3}} miles<sup>2</sup>
                                    </p>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="bootcards-list">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center"> Book Leaders </h4>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Leaders..." ng-model="searchBooks">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="list-group">
                            <div ng-repeat="rank in rankings | filter: searchBooks | limitTo:5 | orderBy: '-books'">
                                <a class="list-group-item" ng-href="#/user/{{rank.id}}">
                                    <div class="row">
                                        <div class="col-sm-6">

                                            <h4 class="list-group-item-heading">{{rank.name}}</h4>
                                            <p class="list-group-item-text">{{rank.books}} books</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Rankings: <pre>{{rankings | json}}</pre>Sort results: <pre>{{result | json}}</pre> RankingScores: <pre>{{rankingScores | json}}</pre>-->
<!--Time scores: <pre>{{timescores | json}}</pre> All scores: <pre>{{scores | json}}</pre> -->