<div>
    <pre>Profile: {{profile | json}}</pre>
    <pre>Coords: {{coords | json}}</pre>
    <pre>User: {{user | json}}</pre>
    <pre>Scores: {{scores | json}}</pre>
    <pre>User scores: {{userScores | json}}</pre>

</div>



<div>
    <h2>Submitting as:</h2>
    <p>Username: {{profile.name}}</p>
    <p>Email: {{profile.email}}</p>
    Not you?
    <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
</div>
<br>

<form class="form-horizontal">
    <fieldset>
        <legend>Submit Your Score</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="money">Amount ($)</label>
            <div class="col-md-8">
                <input id="money" name="money" type="text" placeholder="Enter the total $ collected" class="form-control input-md" required="" ng-model="score.money">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="numberbooks">Number of Books</label>
            <div class="col-md-8">
                <input id="numberbooks" name="numberbooks" type="text" placeholder="Total number of books " class="form-control input-md" required="" ng-model="score.books">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit" ng-click=addScore()>Submit</button>
        </div>
    </fieldset>
</form>


