<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Submit Your Score</h3>
                <!--
                <div class="btn-group pull-right">
                    <button class="btn btn-success">
                        <i class="fa fa-check"></i> Submit
                    </button>
                </div>
-->
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Amount ($)</label>
                        <div class="col-xs-9">
                            <input id="money" name="money" type="number" placeholder="Enter the total $ collected" class="form-control input-md" required="" ng-model="score.money">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Books</label>
                        <div class="col-xs-9">
                            <input id="numberbooks" name="numberbooks" type="number" placeholder="Total number of books " class="form-control input-md" required="" ng-model="score.books">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label"></label>
                        <div class="col-xs-9">
                            <button class="btn btn-success" ng-click="addScore()">
                                <i class="glyphicon glyphicon-ok"></i> Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <small>Your score will appear on the front page and in your profile.</small>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Your information</h3>
                <a class="btn btn-danger pull-right" href="#" ng-click="logout()">
                    <i class="glyphicon glyphicon-log-out"></i> Log out
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default pull-right" href="#/account">
                    <i class="glyphicon glyphicon-pencil"></i> Edit
                </a>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <p class="list-group-item-text">Name</p>
                    <a ng-href="#/user/{{profile.$id}}"><h4 class="list-group-item-heading">{{profile.name}}</h4></a>
                </div>
                <div class="list-group-item">
                    <p class="list-group-item-text">Email</p>
                    <h4 class="list-group-item-heading">{{profile.email}}</h4>
                </div>
                <div class="list-group-item">
                    <p class="list-group-item-text">Temple</p>
                    <h4 class="list-group-item-heading">{{profile.temple}}</h4>
                </div>
            </div>
            <div class="panel-footer">
                <small>Your score will be submitted with this information.</small>
            </div>
        </div>

    </div>


</div>

<!--
<div>
    <pre>Profile: {{profile | json}}</pre>
    <pre>Coords: {{coords | json}}</pre>
    <pre>User: {{user | json}}</pre>
    <pre>Scores: {{scores | json}}</pre>
    <pre>User scores: {{userScores | json}}</pre>

</div>-->