<div class="row">
    <div class="col-md-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Score Summary</h3>

            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <p class="list-group-item-text">Name</p>
                    <a ng-href="#/user/{{score.userid}}"><h4 class="list-group-item-heading">{{score.user}}</h4></a>
                </div>
                <div class="list-group-item">
                    <p class="list-group-item-text">Lakshmi collected</p>
                    <h4 class="list-group-item-heading">${{score.money}}</h4>
                </div>
                <div class="list-group-item">
                    <p class="list-group-item-text">Books distributed</p>
                    <h4 class="list-group-item-heading">{{score.books}} <span>{{score.books == 1? 'book' : 'books'}}</span>
            </h4>
                </div>
            </div>
            <div class="panel-footer">
                <small>Questions? Data is incorrect? <a href="#/contact">Please contact us</a>
                    </small>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Map</h3>
            </div>
            <map center="{{score.lat}}, {{score.lon}}" zoom="12">
                <marker position="{{score.lat}}, {{score.lon}}" animation="Animation.DROP"></marker>
            </map>
            <div class="panel-footer">
                <small>Questions? Map is not showing up? Can't see the marker? <a href="#/contact">Please contact us</a></small>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>