<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Score Summary</h3>
                <a class="pull-right text-primary" data-toggle="tooltip" data-placement="bottom" title="Please contact us to change your score">
                    <span class="icon icon-edit"></span> Edit
                </a>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <span class="pull-right">{{score.user}}</span>Name
                </div>
                <div class="list-group-item">
                    <span class="pull-right">${{score.money}}</span>Lakshmi collected
                </div>
                <div class="list-group-item">
                    <span class="pull-right">{{score.books}} <span>{{score.books == 1? 'book' : 'books'}}</span></span>Books distributed
                </div>
                <div class="list-group-item">
                    <span class="pull-right">{{score.timestamp | date: 'MMM dd, yyyy H:mm a '}}</span>Date and Time
                </div>
            </div>
            <div class="panel-footer">
                <small>Questions? Data is incorrect? <a href="#/contact">Please contact us</a>
                    </small>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Map</h3>
            </div>
            <map center="{{score.lat}}, {{score.lon}}" zoom="12">
                <marker position="{{score.lat}}, {{score.lon}}" animation="Animation.DROP"></marker>
            </map>
            <div class="panel-footer">
                <small>Questions? Map is not showing up? Can't see the marker? <a href="#/contact">Please contact us</a></small>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>