<map center="39.108500, -98.544734" zoom="5" styles="{{style}}" style="height: 355px;">
    <shape id="polygon" name="polygon" paths="{{pageHullPoints}}" stroke-color="#000" stroke-opacity="0.8" stroke-weight="2" fill-color="#000" fill-opacity="0.35"></shape>
    <marker ng-repeat="score in oneWeekScores" position="{{score.lat}}, {{score.lon}}" on-click="showInfoWindow(event, score)"></marker>
</map>

<hr>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title text-center">Rankings & Scores</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <span class="pull-right">{{ranking.name}}</span>Name
                </div>
                <div class="list-group-item">
                    <span class="pull-right">${{ranking.money}}</span>Lakshmi
                </div>
                <div class="list-group-item">
                    <span class="pull-right">{{ranking.books}} <span>{{ranking.books == 1? 'book' : 'books'}}</span></span>Books distributed </div>
                <div class="list-group-item">
                    <span class="pull-right">{{ranking.mapArea / 2589988.11 | number: 3}} miles<sup>2</sup></span> Map Area
                </div>
                <div class="list-group-item"><span class="pull-right">{{ranking.timestamp | date: 'MMM dd, yyyy H:mm a'}}</span> Week Ending On
                </div>
            </div>
            <div class="panel-footer">
                <small>This is a historical calculation. The numbers above show the <b>highest one week score period</b>. For the current 7 day scores, please see the front page.</small>
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="bootcards-list">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center"> Latest scores for <b>{{oneWeekScores[1].user}}</b></h4>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" placeholder="Search Scores..." ng-model="search">
                </div>

                <div class="list-group">
                    <div dir-paginate="score in oneWeekScores | reverse | filter: search |itemsPerPage: 15">
                        <a class="list-group-item" ng-href="#/score/{{score.$id}}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="list-group-item-text">{{score.timestamp | date: 'MMM dd, yyyy H:mm a'}}</p>

                                </div>
                                <div class="col-sm-6">
                                    <h4 class="list-group-item-heading pull-right">{{score.books}} <span>{{score.books == 1 ? 'book' : 'books'}}</span></h4>
                                    <h4 class="list-group-item-heading">${{score.money}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <dir-pagination-controls auto-hide="false" boundary-links="true" direction-links="true">
                        </dir-pagination-controls>
                    </div>

                    <small>Scores are for the last <strong>60 days</strong>. Click on any of the scores to see details.</small>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<pre>Ranking: {{ranking | json}}</pre>

<pre>Page Hull Points: {{pageHullPoints}}</pre>

<pre>Polygon Area: {{polygonArea}} m<sup>2</sup></pre>

<pre>User one week scores: {{oneWeekScores | json}}</pre>

<pre>location array: {{locationArray | json}}</pre>

<pre>User: {{thisUser | json }}</pre>

<pre>User scores: {{userScores | json }}</pre>-->